Libros2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Libro2" targetNamespace="http://libreria.com/Libro2/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:lib="http://libreria.com/Libro2/"
	xmlns:l="http://elelemtos.com/Libro2/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<wsdl:types>
		<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://elelemtos.com/Libro2/"
				schemaLocation="file:/F:/eje2/Libros2.xsd" />
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="librosRequestM">
		<wsdl:part name="parameters" element="l:librosRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="librosResponseM">
		<wsdl:part name="parameters" element="l:librosResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="libroCodigoRequestM">
		<wsdl:part name="parameters" element="l:codigolibroRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="libroCodigoResponseM">
		<wsdl:part name="parameters" element="l:codigolibroResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="libroIdRequestM">
		<wsdl:part name="parameters" element="l:idlibroRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="libroIdResponseM">
		<wsdl:part name="parameters" element="l:idlibroResponse">
		</wsdl:part>
	</wsdl:message>
	
	<wsdl:portType name="librosPT">
		<wsdl:operation name="listaLibrosO">
			<wsdl:input message="lib:librosRequestM">
			</wsdl:input>
			<wsdl:output message="lib:librosResponseM">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="buscarLibroPorCodigoO">
			<wsdl:input message="lib:libroCodigoRequestM">
			</wsdl:input>
			<wsdl:output message="lib:libroCodigoResponseM">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="buscarLibroPorIdO">
			<wsdl:input message="lib:libroIdRequestM">
			</wsdl:input>
			<wsdl:output message="lib:libroIdResponseM">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="Libros2SOAP" type="lib:librosPT">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
			
		<wsdl:operation name="listaLibrosO">
			<soap:operation soapAction="listaLibrosO" style="document"/>
			<wsdl:input>
				<soap:body parts="parameters" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="parameters" use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="buscarLibroPorCodigoO">
			<soap:operation soapAction="buscarLibroPorCodigoO" style="document" />
			<wsdl:input>
				<soap:body parts="parameters" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="parameters" use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="buscarLibroPorIdO">
			<soap:operation soapAction="buscarLibroPorIdO" style="document" />
			<wsdl:input>
				<soap:body parts="parameters" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="parameters" use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
	</wsdl:binding>
	
	<wsdl:service name="Libros">
		<wsdl:port name="LibrosSOAP" binding="lib:Libros2SOAP">
			<soap:address location="http://localhost:9090/libreria/services/libros2" />
		</wsdl:port>
	</wsdl:service>
	
</wsdl:definitions>
